.order-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 0px #777777, inset 0 0 3px #777777;
  border-radius: 5px;
  padding: 28px 32px;
  color: var(--text-color-dark);
}

.order-card__top {
  padding-bottom: 28px;
  box-sizing: content-box;
  border-bottom: 1px solid #e3e3e3;
}

.order-card__top-wrapper {
  display: flex;
  justify-content: space-between;
}




.order-card__link {
  color: var(--text-color-dark);
  font-weight: 600;
  font-size: 18px;

  transition: .1s;

  &:hover {
    color: var(--green);
  }

}

.order-card__status {

  font-size: 16px;
  margin-top: 15px;
}

.order-card__status-delivery {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;


  &::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--green-dark);
    margin-right: 5px;
    vertical-align: center;
  }
}

.order-card__total {
  color: var(--text-color-dark);
  font-weight: 600;
  font-size: 18px;
}


.order-card__shipment-info {
  font-weight: 600;
  font-size: 14px;
  color: #adadad;
  margin-top: 20px;
}

.order-card__address {
  margin-top: 8px;
  font-size: 14px;
}