.cart__container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 998px) {
    flex-direction: column;
    align-items: center;
  }

}

.cart__wrapper-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 900px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 5px;

  @media (max-width: 998px) {
    max-width: 100%;

  }

  @media (max-width: 768px) {
    padding: 5px;
  }

}

.cart__sidebar-sticky {
  //position: sticky;
  max-width: 280px;
  width: 100%;
  height: 100%;
  color: var(--text-color-dark);
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;


  @media (max-width: 998px) {
    max-width: 100%;
  }

}

.cart__total-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cart__total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.cart__total-cell-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;

}

.cart__total-cell-value {
  font-weight: 600;
  font-size: 22px;
  line-height: 110%;
  color: var(--black);
}

.cart__total-discount-sum {
  color: var(--green);
}





.cart-discount__acc  {
  border-bottom: 1px solid var(--gray);
  margin-top: 15px;
}

.cart-discount__acc-title {
  border-top: 1px solid var(--gray);
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
}

.cart-discount__acc-title::after{
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px var(--gray);
  border-right: solid 2px var(--gray);
  transform: translateY(-50%) rotate(135deg);
}

.cart-discount__acc-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
}

.cart-discount__acc-content p {
  padding: 20px;
}

.cart-discount__acc-item.is-open .cart-discount__acc-content  {
  max-height: 150px;
}

.cart-discount__acc-item.is-open .cart-discount__acc-title::after  {
  transform: translateY(-50%) rotate(315deg);
}