.cart-card {
  color: var(--text-color-dark);
}


.count__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}



.cart-card__count {
  font-size: 16px;
  font-weight: 500;
}

.count__minus, .count__plus {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #e8e8e8;
  border-radius: 5px;
}

.count__minus:after {
  content: '';
  width: 12px;
  height: 2px;
  background-color: #242424;
  border-radius: 4px;
  display: block;
  left: calc(50% - 6px);
  position: absolute;
  top: 50%;
}

.count__plus::before {
  content: '';
  width: 12px;
  height: 2px;
  background-color: #242424;
  border-radius: 4px;
  display: block;
  left: calc(50% - 6px);
  position: absolute;
  top: 50%;
  transform: rotate(-90deg);
}

.count__plus::after {
  content: '';
  width: 12px;
  height: 2px;
  background-color: #242424;
  border-radius: 4px;
  display: block;
  left: calc(50% - 6px);
  position: absolute;
  top: 50%;
}