.card-catalog {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 310px;
  height: 274px;
  border-radius: 5px;
  transition: .1s;
  box-shadow: 0 0px 0px #777777, inset 0 0 3px #777777;
  //margin-right: auto;

  &:hover {
    transition: .1s;
    box-shadow: 0 3px 5px #777777, inset 0 0 0 #777777;
    //transform: scale(1.02);
    transform: translateY(-2px);
  }
}

.card-catalog__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 285px;
  flex-grow: 1;

  img {
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
  }

}

.card-catalog__title {
  height: 60px;
  width: 100%;
  margin-bottom: -2px;
}

.card-catalog__link {

}