.header {
  background-color: var(--black);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.header__contacts {
  display: flex;
  align-items: center;
  font-size: var(--base-font-size);
  justify-content: space-between;
  gap: 15px;
  width: 700px;
  margin: 0 15px;

  li {
    &:not(:last-child) {
      display: flex;

      img {
        margin-right: 10px;
      }
    }
  }
}

.phone {
  font-size: var(--base-font-size);
  color: var(--white);
  line-height: 140%;

  span {
    display: block;
    font-size: var(--base-font-size);
    color: var(--green);
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: .3s ease-in-out;

    &:hover {
      color: var(--white);
    }
  }
}

.header__shop-menu {
  display: flex;
}

.shop-menu__item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;


  svg {
    display: flex;
    align-items: center;
  }

  &:not(:last-child) {
    margin-right: 2px;
  }

  svg #profile,
  svg rect {
    transition-property: all;
    transition: .3s ease-in-out;
    fill: var(--gray-dark);
  }

  :hover svg #profile,
  :hover svg rect {
    fill: var(--green-dark);
    transition: .3s;
  }

  span {
    background-color: var(--green-dark);
    transition: .3s;
  }

  :hover span {
    background-color: var(--gray-dark);
    transition: .3s;
  }

}

.quantity {
  position: absolute;
  padding: 4px 6px;
  top: 35%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: var(--white);
  background-color: var(--green-dark);
  border-radius: 20px;
}

.shop-menu__favorites-link {
  position: relative;
}

.shop-menu__cart-link {
  position: relative;
}

.header__bottom {
  background-color: var(--black-dark);
}

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header__nav {
  width: 465px;
  margin: 0 40px;
}

.nav__list {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  a {
    color: var(--white);
    position: relative;
    pointer-events: all;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: var(--green-dark);
      bottom: -4px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

  }
}

.header__social {
  margin-right: 10px;
}












