.header {
  background-color: var(--black-dark);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.header__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 700px;
  margin: 0 15px;

  li {
    &:not(:last-child) {
      display: flex;
      //margin-right: 80px;

      img {
        margin-right: 10px;
      }
    }
  }
}

.phone {
  color: var(--white);
  line-height: 140%;

  p {
    font-size: 18px;
    color: var(--green);
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: .3s ease-in-out;
    &:hover {
      color: var(--white);
    }
  }
}

.header__shop-info {
  display: flex;
}

.shop-info__item {
  display: flex;
  align-items: center;


  svg {
    display: flex;
    align-items: center;
  }

  &:not(:last-child) {
    margin-right: 2px;
  }

  svg #profile,
  svg rect{
    transition-property: all;
    transition: .3s ease-in-out;
    fill: var(--gray-dark);
  }

  :hover svg #profile,
  :hover svg rect {
    fill: var(--green-dark);
    transition: .3s;
  }

  span {
    background-color: var(--green-dark);
    transition: .3s;
  }

  :hover span {
    background-color: var(--gray-dark);
    transition: .3s;
  }

}

.quantity {
  position: absolute;
  padding: 4px 6px;
  top: 35%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: var(--white);
  background-color: var(--green-dark);
  border-radius: 20px;
}

.shop-info__favorites-link {
  position: relative;
}

.shop-info__cart-link {
  position: relative;
}

.header__bottom {
  background-color: var(--black);
  width: 500px;
  height: 500px;
}






