.header {
  background-color: var(--black-dark);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts {
  display: flex;
  align-items: center;
  font-weight: 500;

  & li {
    &:not(:last-child) {
      display: flex;
      margin-right: 80px;

      & img {
        margin-right: 10px;
      }
    }
  }
}

.phone {
  color: var(--white);
  line-height: 140%;

  & p {
    font-size: 18px;
    color: var(--green);
    text-decoration: underline;
  }
}

.header__shop-nav {
  display: flex;
}

.shop-nav__item {
  display: flex;
  align-items: center;

  & svg {
    display: flex;
    align-items: center;
  }

  &:not(:last-child) {
    margin-right: 2px;
  }
}


