.product-detail__container {
  position: relative;
  display: flex;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

}

.product-detail__logo {
  position: absolute;
}

.product-detail__desc {
  max-width: 390px;
  color: var(--text-color-dark);

  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__title {
  font-size: 30px;
  margin-bottom: 5px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.product-detail__status {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #639F6F;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__facing {
  display: inline-block;
  font-weight: 500;
  color: #639F6F;
  margin-bottom: 10px;
}

.product-detail__price-container {
  margin-top: 25px;
}

.product-detail__price {
  font-weight: 500;
  font-size: 30px;
  line-height: 107%;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 22px;
  }


}

.product-detail__price-old {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-decoration: line-through;
  text-align: center;
  vertical-align: bottom;
  color: #8a8a8a;


  @media (max-width: 768px) {
    font-size: 14px;
  }

}

.product-detail__btns-container {
  margin-top: 15px;
  display: flex;
  gap: 30px;
}


.product-detail__btn-add-to-fav {
  display: flex;
  align-items: center;

  svg  {
    width: 34px;
    height: 30px;

    @media (max-width: 768px) {
      height: 22px;
    }

  }

  svg path {
    transition-property: all;
    transition: .1s ease-in-out;
    stroke: #000000;
  }

  &:hover svg path {
    transition-property: all;
    transition: .1s ease-in-out;
    stroke: red;
  }
}







.product-detail__slider-wrapper {
  width: 520px;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 391px;
  }

  @media (max-width: 419px) {
    width: 331px;
  }

}


.product-detail__slider-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail__slider-thumb img {
  height: 60px;
  width: 60px;
}


.product-detail__thumbnails .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 90px;
}
.product-detail__thumbnails .keen-slider__slide {
  cursor: pointer;
}
.product-detail__thumbnails .keen-slider__slide.active {
  //border: 1px solid var(--green-dark);
  border-radius: 5px;
  box-shadow: 0 0px 0px #777777, inset 0 0 5px #777777;
}