.registration__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__title {
  margin-bottom: 30px;
}

.registration__form-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.registration-form__btn-reg {
  width: 100%;
  margin: 0 auto;
}

.registration-form__text {
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
  text-align: justify;
}

.registration-form__log-link {
  margin-top: 20px;
  max-width: 200px;
}