

.catalog__card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog__title {
  margin-left: 35px;
  font-size: 38px;
  margin-bottom: 30px;
}

.catalog-pagination__container {
  margin: 30px 0;
}

.rectangle-limiter {
  width: 970px;
  height: 55px;
  border: 2px solid #DEDBDB;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  span {
    color: var(--text-color-dark);
  }

}

.circular-arrow {
  width: 22px;
  height: 20px;
  background: url("./../img/icons/arrow-circular.svg") no-repeat center;
}

.catalog-pagination__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog__pagination {
  display: flex;
}